################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CakeManager.Client/obj
/CakeManager.Client/bin
/CakeManager.Server/bin
/CakeManager.Server/obj
/CakeManager.Shared/bin
/CakeManager.Shared/obj
/.vs/*
/CakeManager.Logic/bin
/CakeManager.Logic/obj
/CakeManager.Repository/bin
/CakeManager.Repository/obj
/CakeManager.Server/Properties/PublishProfiles
