@inherits LayoutComponent

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">Cake Manager</a>
        <button class="navbar-toggler" onclick="@ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
        <ul class="nav flex-column">
            @if (TokenService.IsLoggedIn)
            {
                @if (TokenService.IsRegistered)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                }

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="office" Match="NavLinkMatch.All">
                        <span class="oi oi-task" aria-hidden="true"></span> Office
                    </NavLink>
                </li>

                @if (TokenService.IsRegistered)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="cakemark" Match="NavLinkMatch.All">
                            <span class="oi oi-task" aria-hidden="true"></span> Cake Marks
                        </NavLink>
                    </li>
                }

            }
        </ul>
    </div>
</div>

<div class="main">
    <div class="top-row px-4">
        @if (TokenService.IsLoggedIn)
        {
            <a href="" onclick="@LogOut" class="ml-md-auto nav-link">Log Out</a>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
