@inherits ToastsComponent

<div aria-live="polite" aria-atomic="true" style="float: right; position: absolute; top: 5px; right: 5px; min-height: 500px;">
    @foreach (var toast in Toasts)
    {
        <Toast ToastMessage="@toast"/>
    }
</div>