@page "/login"
@inherits LoginComponent
@layout Layout.Layout

<div>

    <p>Please sign in with your brightree credentials.</p>

    <button onclick="@Login" class="btn btn-primary">Go</button>

</div>