@inherits OfficeDropdownComponent

<div class="form-group" style="width: 200px">
    <select class="form-control" onchange="@ChangeOffice" value="@SelectedOfficeId">
        @foreach (var office in Offices)
        {
            <option value="@office.Id">@office.Name</option>
        }
    </select>
</div>