@page "/office"
@inherits OfficeComponent
@layout Layout.Layout
@using CakeManager.Client.Components.OfficeDropdown
@using CakeManager.Client.Components.Error

<p>Which office are you in?</p>

<OfficeDropdown @ref="OfficeDropdown"/>

<Error @ref="Error"/>

<button class="btn btn-primary" @onclick="@SaveOffice">Save</button>