@inherits LayoutComponent

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">Cake Manager</a>
        <button class="navbar-toggler" onclick="@ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" onclick="@ToggleNavMenu">

        <ul class="nav flex-column">
            @if (TokenService.IsLoggedIn.HasValue && TokenService.IsLoggedIn.Value)
            {
                @if (TokenService.IsRegistered.HasValue && TokenService.IsRegistered.Value)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                }

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="office" Match="NavLinkMatch.All">
                        <span class="oi oi-task" aria-hidden="true"></span> Office
                    </NavLink>
                </li>

                @if (TokenService.IsRegistered.HasValue && TokenService.IsRegistered.Value)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="cakemark" Match="NavLinkMatch.All">
                            <span class="oi oi-task" aria-hidden="true"></span> Cake Marks
                        </NavLink>
                    </li>
                }

            }
        </ul>

        @if (TokenService.IsLoggedIn.HasValue && TokenService.IsLoggedIn.Value && !TokenService.IsRegistered.HasValue)
        {
            <div style="width: 250px; text-align: center; margin-top: 10px;">
                <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        }

    </div>
</div>

<div class="main">
    <div class="top-row px-4">
        @if (TokenService.IsLoggedIn.HasValue && TokenService.IsLoggedIn.Value)
        {
            <a href="" onclick="@LogOut" class="ml-md-auto nav-link">Log Out</a>
        }
    </div>

    <div class="content px-4" style="position: relative;">
        @Body
        <Toasts/>
    </div>
</div>