@page "/cakemark"
@inherits CakeMarkComponent
@layout Layout.Layout

<TokenGuard/>

<div>

    <Error ref="Error"/>

    <button class="btn btn-danger" onclick="@AddCakeMark">Add cake mark!</button>
    <button class="btn btn-success" onclick="@RemoveCakeMark">Remove cake mark!</button>

</div>

<CakeMarkTally ref="CakeMarkTally"/>

<CakeMarkBoard ref="CakeMarkBoard"/>