@inherits CakeMarkBoardComponent

<OfficeDropdown ref="OfficeDropdown"></OfficeDropdown>

<div class="table-responsive">
    <table class="table">

        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Cake Marks</th>
            </tr>
        </thead>

        @foreach (var cakeMarkGridData in CakeMarkGridData)
        {
            <tr>
                <td style="width: 150px">
                    @for (var i = 0; i < cakeMarkGridData.SuperCakeMarks; i++) {
                        <span class="oi oi-cart"/>
                    }
                </td>
                <td>@cakeMarkGridData.Name</td>
                <td>@cakeMarkGridData.CakeMarks</td>
            </tr>
        }

    </table>
</div>
